### üßπ Data Cleaning: Explained Simply with a Real Example from Sports

**Data cleaning** is the process of detecting and correcting (or removing) inaccurate, incomplete, inconsistent, or irrelevant data from a dataset. It‚Äôs a key step before analysis or building models, because messy data can lead to wrong conclusions.

Let‚Äôs walk through this with a **real-world-inspired example in soccer**.

---

## ‚öΩÔ∏è Real-World Example: Soccer Player Performance Data

Imagine you're analyzing performance data from a soccer league to find top-performing players. The dataset includes fields like:

* Player Name
* Team
* Goals
* Assists
* Minutes Played
* Yellow Cards
* Red Cards
* Match Date

### üõ†Ô∏è Step-by-Step Data Cleaning Process

---

### 1. **Remove Duplicates**

**Problem:** The same match data might have been logged twice.


Before:
| Player     | Team     | Goals | Match Date |
|------------|----------|-------|------------|
| Lionel M.  | PSG      | 2     | 2021-10-19 |
| Lionel M.  | PSG      | 2     | 2021-10-19 |

Action: Remove the duplicate row.

After:
| Player     | Team     | Goals | Match Date |
|------------|----------|-------|------------|
| Lionel M.  | PSG      | 2     | 2021-10-19 |


---

### 2. **Handle Missing Values**

**Problem:** Some rows may have missing data.


Before:
| Player     | Goals | Assists |
|------------|-------|---------|
| Neymar     | 1     | 2       |
| Mbapp√©     |       | 1       |

Action:
- If "Goals" is missing, fill with 0 (or use the player‚Äôs average).
- Or remove the row if too many important fields are missing.

After:
| Player     | Goals | Assists |
|------------|-------|---------|
| Neymar     | 1     | 2       |
| Mbapp√©     | 0     | 1       |


---

### 3. **Fix Inconsistent Formatting**

**Problem:** Team names or player names are written inconsistently.


Before:
| Player     | Team         |
|------------|--------------|
| Messi      | FC Barcelona |
| MESSI      | barcelona fc |

Action:
- Standardize to "FC Barcelona"
- Capitalize names consistently

After:
| Player     | Team         |
|------------|--------------|
| Lionel Messi | FC Barcelona |


---

### 4. **Correct Data Types**

**Problem:** Numbers are stored as text, or dates are in the wrong format.


Before:
| Goals | Match Date   |
|-------|--------------|
| "3"   | "19-10-2021" |

Action:
- Convert "3" from string to integer
- Change "19-10-2021" to `2025-05-01` (ISO date format)

After:
| Goals | Match Date |
|-------|------------|
| 3     | 2021-10-19 |


---

### 5. **Outlier Detection**

**Problem:** A player is listed as having scored 15 goals in one match.

Before:
| Player  | Goals |
|---------|-------|
| PlayerX | 15    |

Action:
- Investigate: Is it a typo? Maybe it should be "1.5" or "5"?
- Confirm with match logs. If wrong, correct it.

After:
| Player  | Goals |
|---------|-------|
| PlayerX | 5     |

---

### 6. **Remove Irrelevant Data**

**Problem:** The dataset includes columns like ‚ÄúFan Attendance Emoji‚Äù or empty ‚ÄúNotes‚Äù.

Action:

* Drop columns that aren't needed for analysis.

---

### ‚úÖ Clean Data Ready for Analysis

After cleaning, your dataset is consistent, complete, and reliable. Now you can:

* Rank top scorers
* Compare team performance
* Build machine learning models to predict player value or injury risk

---
### Summary

| Step               | Purpose                     |
| ------------------ | --------------------------- |
| Remove Duplicates  | Avoid double-counting       |
| Fill Missing Data  | Improve completeness        |
| Standardize Format | Ensure consistency          |
| Fix Data Types     | Enable correct computations |
| Handle Outliers    | Maintain accuracy           |
| Drop Irrelevant    | Keep only useful data       |

In [ ]:
# üìä Day 4: Data Cleaning Essentials
# Author: David Caleb Chaparro Orozco
# Topic: Handling Missing Values, Duplicates, and Data Consistency using the Titanic Dataset

# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Style setting
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (12, 6)

In [ ]:
# load the dataset
data = sns.load_dataset('titanic')
data.head()

# Exploring the data

In [ ]:
# Check a overview of the dataset
def overview(data):
    print("=".center(50,"="))
    # Print the shape of the dataset to see how many rows and columns it has.
    print(f"\nTitanic Dataset. Overview")
    print(f"Shape: {data.shape}")
    print("=".center(50,"="))

    # Display Index, Columns, and Data Types
    print("Information about the features:")
    print(data.info())
    print("=".center(50,"="))

    # Display summary statistics
    print("Basic statistics check:")
    print(data.describe())
    print("=".center(50,"="))

    # I always run this part to understand the unique values in each column.
    # It helps me get a sense of the data, especially which features are categorical or have low variability.
    print("Checking the number of unique values:")
    unique_counts = {}
    for column in data.columns:
        unique_counts[column] = data[column].nunique()
    unique_data = pd.DataFrame(unique_counts, index=["Unique Count"]).transpose()
    print(unique_data)
    print("=".center(50, "="))

    # Check for Missing Values
    print("Check for missing values:")
    print(data.isnull().sum())
overview(data)

In [ ]:
# Display column names of the dataset
data.columns.values

## 1. Removes Duplicates

In [ ]:
# 1. Checking for Duplicates
print("\nSTEP 1: Checking for Duplicates")
print("Number of duplicate rows before:", data.duplicated().sum())

"""
WHY THIS MATTERS:
Duplicate rows can skew our analysis by giving extra weight to repeated observations.
In the Titanic dataset, duplicates might represent:
- Multiple bookings for the same passenger (unlikely)
- Data entry errors
- System glitches during data collection
"""

# We'll drop exact duplicates but keep potential similar records (like family members)
data.drop_duplicates(inplace=True)
print("Number of duplicate rows after:", data.duplicated().sum())

## 2. Handling Missing Values

In [ ]:
# 2. Handling Missing Values
print("\nSTEP 2: Handling Missing Values")
"""
APPROACH FOR MISSING DATA:
We'll handle missing values based on:
1. Percentage of missingness
2. Importance of the feature
3. Possibility of reasonable imputation
"""

# Age: Significant missing values (177/891), we'll impute with median by passenger class
print("\nAge missing values before:", data['age'].isnull().sum())
"""
STRATEGY FOR AGE:
- Too important to drop
- We'll impute with median by passenger class and demographic group
    (men/women/children in 1st/2nd/3rd class had different age distributions)
"""
data['age'] = data.groupby(['pclass', 'who'])['age'].transform(
    lambda x: x.fillna(x.median()))
print("Age missing values after:", data['age'].isnull().sum())

# Deck: Too many missing values (688/891), we'll drop this column as it's mostly empty
print("\nDropping 'deck' column due to excessive missing values (77% missing)")
"""
WHY DROP DECK:
- Over 3/4 of values missing
- Not critical for survival analysis
- Even if we impute, results would be unreliable
"""
data.drop('deck', axis=1, inplace=True)

# Embarked/Embark_town: Only 2 missing values, we'll fill with the most common port
print("\nEmbarked missing values before:", data['embarked'].isnull().sum())
"""
STRATEGY FOR EMBARKED:
- Only 2 missing values
- We'll use the most common port (mode)
- Southampton was the most frequent departure point
"""
most_common_port = data['embarked'].mode()[0]
data['embarked'] = data['embarked'].fillna(most_common_port)
data['embark_town'] = data['embark_town'].fillna(most_common_port)
print("Embarked missing values after:", data['embarked'].isnull().sum())

## 3. Fixing Inconsistent Formatting

In [ ]:
# 3. Fixing Inconsistent Formatting
print("\nSTEP 3: Standardizing Formats")

print("""
COMMON ISSUES IN TITANIC DATA:
- 'embark_town' vs 'embarked' (Cherbourg vs C)
- 'sex' vs 'who' (male vs man)
- 'alive' vs 'survived' (yes/no vs 1/0)
""")

# Standardize categorical columns

# Southampton not SOUTHAMPTON
data['embark_town'] = data['embark_town'].str.title()  
# Man vs man consistency
data['who'] = data['who'].str.lower()  

print("\nStandardizing 'embark_town' and 'who' columns:")
print("Unique embark_town values:", data["embark_town"].unique())
print("Unique who values:", data["who"].unique())

## 4. Correcting Data Types

In [ ]:
# 4. Correcting Data Types
print("\nSTEP 4: CORRECTING DATA TYPES")

print("""
TYPE ISSUES FOUND:
- 'pclass' is numeric but represents categories (1st, 2nd, 3rd class)
- 'survived' is int but could be boolean
""")

# Convert pclass to object
data['pclass'] = data['pclass'].astype('object')

# Convert survived to boolean (optional, kept as int for analysis)
# data['survived'] = data['survived'].astype(bool)

print("\nData types after conversion:")
print(data.dtypes)

## 5. Handling Outliers

In [ ]:
# 5. Handling Outliers
print("\nSTEP 5: Checking for Outlier")

"""
POTENTIAL OUTLIERS:
- Age: 0.42 to 80 (validate infants and elderly)
- Fare: $0 to $512 (validate extreme values)
"""

# Check age distribution
print("\nAge range:", data['age'].min(), "to", data['age'].max())
# All ages are plausible (infants to elderly)

# Check fare distribution
print("Fare range:", data['fare'].min(), "to", data['fare'].max())

print("""
NOTE ABOUT FARES:
- $0 fares might represent crew (but Titanic dataset is passengers only)
- $512 is extremely high but plausible for luxury suites
- We'll keep all fares as they represent real pricing tiers
""")

## 6. Removing Irrelevant Data

In [ ]:
# 6. Removing Irrelevant Data
print("\nSTEP 6: Removing Irrelevant Columns")

print("""\nCOLUMNS WE'LL KEEP:
All columns are relevant for Titanic analysis, but we:
- Already dropped 'deck' due to missingness
- Might drop one of redundant columns later
""")

# Example of dropping truly irrelevant columns (if they existed)
# data = data.drop(['unnecessary_column'], axis=1)

In [ ]:
# Final Data Quality Check
print("\nFinal Data Quality REPORT")
print("Missing values:")
print(data.isnull().sum())

print("\nData types:")
print(data.dtypes)

print("\nDataset shape:", data.shape)

## Save cleaned data

In [ ]:
data.to_csv('outputs/titanic_cleaned.csv', index=False)
print("\nCleaned dataset saved successfully!")

---

In [1]:
from cleaning_utils import (
    load_titanic_dataset, overview, remove_duplicates, handle_missing_values,
    fix_formatting, correct_data_types, check_outliers,
    drop_irrelevant_columns, final_report, save_clean_data
)

data = load_titanic_dataset()

overview(data)

data = remove_duplicates(data)
data = handle_missing_values(data)
data = fix_formatting(data)
data = correct_data_types(data)
check_outliers(data)
# Add if needed
data = drop_irrelevant_columns(data, columns_to_drop=[])  
final_report(data)
save_clean_data(data)

==================================================

Titanic Dataset Overview
Shape: (891, 15)
==================================================
Information about the features:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
==================================================
Basic statistics check:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
==================================================

Checking the number of unique values:
             Unique Count
survived                2
pclass                  3
sex                     2
age                    88
sibsp                   7
parch                   7
fare                  248
embarked                3
class                   3
who                     3
adult_male              2
deck                    7
embark_town             3
alive                   2
alone                   2

Check for missing values:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
==================================================

STEP 1: Checking for Duplicates
Number of duplicate rows before: 107
Number of duplicate rows after: 0
==================================================

STEP 2: Handling Missing Values

Age missing values before: 106
Age missing values after: 0

Dropping 'deck' column due to excessive missing values (77%)

Embarked missing values before: 2
Embarked missing values after: 0
==================================================

STEP 3: Standardizing Formats

Standardized 'embark_town' and 'who' columns:
Unique embark_town: ['Southampton' 'Cherbourg' 'Queenstown' 'S']
Unique who: ['man' 'woman' 'child']
==================================================

STEP 4: CORRECTING DATA TYPES
Data types after conversion:
survived          int64
pclass           object
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
embark_town      object
alive            object
alone              bool
dtype: object
==================================================

STEP 5: Checking for Outliers
Age range: 0.42 to 80.0
Fare range: 0.0 to 512.3292

NOTE ABOUT FARES:
- $0 fares might represent crew (but Titanic dataset is passengers only)
- $512 is extremely high but plausible for luxury suites
- We'll keep all fares as they represent real pricing tiers

==================================================

STEP 6: Removing Irrelevant Columns
No irrelevant columns specified to drop.
==================================================

Final Data Quality REPORT
Missing values:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

Data types:
survived          int64
pclass           object
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
embark_town      object
alive            object
alone              bool
dtype: object

Dataset shape: (784, 14)
==================================================

Cleaned dataset saved to outputs/titanic_cleaned.csv